<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Modal -->
<div class="modal fade" tabindex="-1" " id="dynamic-modal"  role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="min-width:60%;">
      <div class="modal-content">

      </div>
    </div>
  </div>
<script>
    $('video').on('click', function() {
        $('.modal-content').html(this.outerHTML);
        $('#dynamic-modal').modal('show');
    });

    // $('img').on('click', function() {
    //     $('.modal-content').html(this.outerHTML);
    //     $('#dynamic-modal').modal('show');
    // });
</script>
</body>
</html>