<!-- Schema.org -->
<meta itemprop="name" content="{{ site.meta.title }}"/>
<meta itemprop="description" content="{{ site.meta.description }}"/>
<meta itemprop="image" content="{{ site.url }}{{ page.image }}"/>

<!-- Facebook -->
<meta property="og:title" content="{{ site.meta.title }}"/>
<meta property="og:description" content="{{ site.meta.description }}">
<meta property="og:image" content="{{ site.url }}{{ page.image }}"/>
<meta property="og:url" content="{{ site.url }}"/>
<meta property="og:type" content="article" />

<!-- Twitter -->
<meta name="twitter:card" content="{{ site.author.twitter }}" />
<meta name="twitter:site" content="@{{ site.author.twitter }}" />
<meta name="twitter:creator" content="{{ site.author.twitter }}" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:title" content="{{ site.meta.title }}" />
<meta property="og:description" content="{{ site.meta.description }}" />
<meta property="og:image" content="{{ site.url }}{{ page.image }}" />