<div id="sidebar" class="col-lg-3 hidden-md-down">
    <div class="row justify-content-center text-center mt-4">
        <div class="overlay"></div>
        <div class="col-12">
            <a href="{{ site.url }}">
                <img class="profile-img" src="{{ site.url }}/{{ site.author.image }}" alt="Oğuzcan Demircan" >
            </a>
        </div>
        <h4 class="mt-1 b-black"><a href="{{ site.url }}">{{ site.author.name }}</a></h4>
        <div class="col-12"></div>
        <h6 class="b-black"><a href="{{ site.url }}"> {{ site.author.title }} </a></h6>
        <div class="col-12"></div>
        <div class="social-media b-black">
                <a target="_blank" title="Github" href="https://github.com/{{ site.social-network-links.github }}"><i class="fab fa-github"></i></a>
                <a target="_blank" title="Twitter" href="https://twitter.com/{{ site.social-network-links.twitter }}"><i class="fab fa-twitter"></i></a>
                <a target="_blank" title="Medium" href="https://medium.com/@{{ site.social-network-links.medium }}"><i class="fab fa-medium"></i></a>
                <a target="_blank" title="Linkedin" href="https://www.linkedin.com/in/@{{ site.social-network-links.medium }}"><i class="fab fa-linkedin"></i></a>
                <!-- <a target="_blank" title="Gitlab" href="https://gitlab.com/{{ site.social-network-links.gitlab }}"><i class="fab fa-gitlab"></i></a> -->
                <!-- <a target="_blank" title="Email" href="mailto:{{ site.social-network-links.medium }}"><i class="fas fa-envelope"></i></a> -->
        </div>
        <div class="col-12 copyright">
            {{ site.footer.text }}
        </div>
    </div>
</div>