{% include header.html %}
<main class="container-fluid h-100">
    <div class="row">
       {% include sidebar.html %}
        <div id="content" class="col-lg-9 offset-lg-3" style="margin-top:20px;">
            <div class="row justify-content-center justify-content-lg-start">
                <div class="col-10 left-space">
                    <div class="text-center">
                        {% include navbar.html %}
                    </div>
                    {{ content }} 
                    <div class="footer text-center">
                        © 2018-2019 Oğuzcan Demircan All Rights Reserved 
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% include footer.html %}