{% include header.html %}
<main class="container-fluid h-100">
    {% if site.loader.active == true %}
    <div class="loader-background row">
        <div id='loader'></div>
        <h1>{{ site.loader.text }}</h1>
    </div>  
    {% endif %}
    <div class="row" id="wrapper">
       {% include sidebar.html %}
        <div id="content" class="col-lg-9 offset-lg-3">
            <div class="row justify-content-center justify-content-lg-start">
                <div class="col-lg-6 col-sm-10 left-space">
                    {% include navbar.html %}
                    {{ content }}
                    <div class="mt-4">{{ site.footer.text }}</div>
                </div>
            </div>
        </div>
    </div>
</main>
{% include footer.html %}